@layer buttons {
	.button {
		background-color: var(--color-accent);
		border: none;
		border-radius: 50px;
		box-shadow: 0 0 0 3px rgb(0 0 0 / 20%) inset;
		color: var(--color-button-text);
		cursor: pointer;
		font-family: var(--typography-font-family-sans);
		font-weight: var(--typography-font-weight-black);
		padding: 1rem 2rem;
		transition:
			filter 0.3s ease,
			scale 0.1s ease;
		text-align: center;

		&:hover {
			filter: brightness(120%);
			scale: 1.05;
		}
	}

	.button--text {
		background-color: transparent;
		box-shadow: none;
		color: var(--color-accent);
		text-decoration: underline;
	}

	.button--small {
		font-size: var(--typography-font-size-h6);
		text-decoration: none;
	}

	.button--medium {
		font-size: var(--typography-font-size-h5);
		text-decoration: none;
	}

	.button--large {
		font-size: var(--typography-font-size-h4);
		text-decoration: none;
	}
}
