---
import Header from '../../components/styleguide/Header.astro';
import Layout from '../../components/styleguide/Layout.astro';
import StyleguideLayout from '../../layouts/Styleguide.astro';

const pageTitle = "Tags";
const description = "are minimal, clean, and should be secondary to content.";
const label = "Tag";
---

<style>
	div {
		display: flex;
		gap: 0.75rem;
	}
</style>

<StyleguideLayout pageTitle={pageTitle} description={description}>
	<Layout>
		<Header title={pageTitle} description={description} />
		<section>
			<div>
				<a href="#" class="tag">Tag</a>
				<a href="#" class="tag">Tag</a>
				<a href="#" class="tag">Tag</a>
			</div>
		</section>
	</Layout>
</StyleguideLayout>